.modal {
  margin: 4rem;
  background: var(--background_modal) !important;
  flex: 1;
  height: calc(100% - 4rem * 2);
  gap: 1rem;
}

.overlay {
  align-items: flex-start !important;
  background-color: #f9f9fc73;
}

// .header {
// }

.btnClose {
  position: absolute !important;
  top: 0;
  right: 0;
  z-index: 99;
}

@media (max-width: 768px) {
  .left {
    display: none;
  }
}
