.Main {
  display: flex;
  width: 100%;
  overflow: hidden;
  background: var(--background);
}

@media (max-width: 768px) {
  .Main {
    flex-direction: column;
    min-height: 100%;
    overflow: scroll;
    flex: 1;
  }
}
