.Home {
  .titlePage {
    padding-left: 0.5rem;
    &::after {
      position: absolute;
      content: '';
      bottom: -2px;
      left: 0;
      top: 0;
      border-bottom: 1px solid #0bceaf;
      width: 30%;
    }
    &::before {
      position: absolute;
      content: '';
      bottom: -3px;
      top: 0;
      left: 0;
      border-bottom: 4px solid #0bceaf;
      width: 15%;
    }
  }
  .List {
    width: 100%;
    height: fit-content;
    flex-wrap: wrap;
    .Item {
      height: fit-content;
      color: #000;
    }
  }
}
