.modal {
  margin: 2rem;
  background: var(--background_modal) !important;
  flex: 1;
  height: calc(100% - 2rem * 2);
}

.overlay {
  align-items: flex-start !important;
  background-color: #f9f9fc73;
}

.content {
  font-size: 1rem;
  color: var(--text);

  img {
    width: auto;
    height: auto;
    object-fit: unset;
    margin: 0 auto;
    margin-bottom: 1rem;
    box-shadow: var(--shadow);
  }
  p {
    color: var(--text);
    display: flex;
    width: 100%;
    font-size: 1rem;
    line-height: 24px;
    margin-bottom: 8px;
    word-break: break-word;
    flex-wrap: wrap;
    flex-direction: column;
    a {
      display: contents;
      color: lightskyblue;
      font-size: 1rem;
    }
  }
  strong,
  h3 {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 1rem;
    width: fit-content;
  }

  span {
    display: flex;
    flex-direction: column;
  }

  ul {
    list-style-type: disc;
  }
}

.header {
  .btnClose {
    position: absolute;
    top: 0;
    right: 0;
    margin: -0.625rem;
  }
}

@media (max-width: 768px) {
  .left {
    display: none;
  }
}
