@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600&family=Nunito:wght@200&display=swap');
@import '../public/styles/pagination.scss';
@import '../public/styles/mixin';
@import '../public/styles/_variables.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100vh;
  width: 100vw;
  overflow: auto;
  touch-action: manipulation;
  -ms-touch-action: manipulation;
  touch-action: none;
}

body {
  color: rgb(var(--foreground-rgb));
  font-family:
    Nunito Sans,
    sans-serif;
  max-width: 100vw;
  min-width: 100vw;
  height: 100vh;
  overflow: auto;
  word-break: break-all;
  white-space: pre-wrap;
  font-size: 0.8125rem;
  color: var(--text);
  display: flex;
  flex: 1;

  button,
  div,
  p,
  span,
  a {
    font-size: inherit;
  }

  a {
    color: inherit;
    text-decoration: none;
    width: 100%;
    display: flex;
  }

  img {
    width: 100%;
    border-radius: 0.5rem;
    object-fit: cover;
    object-position: center;
    height: auto;
  }
}

/* Chọn thanh cuộn chính */
::-webkit-scrollbar {
  // display: none;
  width: 0.25rem;
  height: 0.25rem;
}

/* Nền của thanh cuộn */
::-webkit-scrollbar-track {
  background-color: whitesmoke;
}

/* Đối với cuộn di chuyển */
::-webkit-scrollbar-thumb {
  background-color: lightblue;
  border-radius: 6px; /* Bo tròn góc của cuộn di chuyển */
  &:hover {
    background-color: lightskyblue;
  }
}

:root {
  --shadow: 0 8px 8px 0 rgba(103, 151, 255, 0.11),
    0 12px 18px 0 rgba(103, 151, 255, 0.11);
  --hoverBg: transparent;
}

.light {
  // --background: rgba(255, 255, 255, 0.2);
  --background: white;
  --text: #4a4a4a;
  --background_modal: white;
}

.dark {
  --background: #000000ab;
  --background_modal: #011627;
  --text: #fff;
}

.onesignal-customlink-container {
  min-height: unset;
}
