.layout {
  background-color: lightblue;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  .wrapper {
    max-height: 100vh;
    display: flex;
    flex: 1;
    height: 100vh;
    overflow: hidden;
    justify-content: space-between;
    padding: 4rem;
    max-width: 1685px;
    margin: auto;
  }
}

@media (max-width: 768px) {
  .layout {
    .wrapper {
      padding: 1rem;
      flex-direction: column;
      max-height: unset;
      // height: auto;
      overflow: scroll;
    }
  }
}
