.searchBar {
  border: 1px solid var(--border);
  outline-color: var(--border);
  border-radius: 8px;
  overflow: hidden;

  &:focus {
    border-color: transparent;
    outline: 1px solid;
    outline-color: var(--active);
  }

  input {
    border: unset;
    padding: 0.3rem 0.5rem;
    transition: all 0.6s ease;
    outline: unset;
    width: 100%;

    &::placeholder {
      font-size: 12px;
      color: var(--text);
    }
  }
}
