.Header {
  width: 20vw;
  min-width: 375px;
  max-width: 375px;
  background: var(--background);
  border-radius: 16px;
}

@media (max-width: 768px) {
  .Header {
    max-width: unset;
    width: 100%;
    min-width: unset;
  }
}
