.Contact {
  justify-content: center;
  align-items: center;
  height: 100%;
  flex: 1;
}

.cardID {
  background-repeat: no-repeat;
  max-height: 550px;
  min-height: 550px;
  min-width: 350px;
  max-width: 350px;
  svg {
    border-radius: 0.5rem;
  }
}

.before {
  background-image: url('/card/card4.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: white;
  border-top: 5px solid lightskyblue;
  border-bottom: 5px solid lightcoral;
  .title {
    position: absolute;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1rem;
    color: black;
    .txt {
      letter-spacing: 2px;
    }
    .career {
      font-size: 1.5rem;
      font-weight: 600;
    }
    .name {
      font-size: 1.5rem;
      font-weight: 600;
      letter-spacing: 3px;
      color: orange;
      text-transform: uppercase;
    }
    .job {
      font-weight: 600;
      font-size: 1.2rem;
    }
  }
  .QRcode {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);
    margin: 1rem;
    width: 120px;
    height: 120px;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-image: url('/img/QRcode.jpeg');
  }
}
.after {
  background-image: url('/img/visit.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: unset;
  flex-direction: column;

  .QRcode {
    margin: 1rem;
    width: 180px;
    height: 180px;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-image: url('/img/QRcode.jpeg');
  }

  .info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.5rem;
    background: rgba(255, 255, 255, 0.68);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: calc(100% - 5rem);
    .lstInfo {
      gap: 0.5rem;
      .item {
        .line {
          width: 100%;
          justify-content: center;
          color: black;
          font-weight: 600;
        }
      }
    }
  }
}
