.Footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--background);

  .txt {
    display: flex;
    writing-mode: vertical-lr;
    font-style: italic;
    flex: 1;
    justify-content: space-between;
    align-items: center;

    .txtTime {
      font-size: 0.75rem;
      font-style: italic;
      letter-spacing: 0.5rem;
    }

    .txtFollow {
      letter-spacing: 0.5rem;
      min-width: min-content;
      flex: 1;
      white-space: nowrap;
    }

    hr {
      display: flex;
      flex: 1;
      width: 1px;
      border: 1px solid lightblue;
      min-height: 50px;
    }
  }

  .btn {
    padding: 0.5rem;
    border-radius: 0.5rem;
  }
}

.RealTime {
  .time {
    font-size: 1.125rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: lightcoral;
    font-size: 2.5rem;
    padding: 0.5rem;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
  }
  .lock {
    // animation: shake 10s ease infinite;
    animation: rotating 2.5s linear infinite;
  }
}

@media screen and (max-width: 768px) {
  .Footer {
    display: none;
    visibility: hidden;
    max-height: 0;
  }
}

@keyframes shake {
  0%,
  100% {
    transform: rotate(0deg);
  }
  20%,
  60% {
    transform: rotate(360deg);
  }
  40%,
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes rotating {
  // from {
  //     transform: rotate(0deg);
  // }
  // to {
  //     transform: rotate(360deg);
  // }
  100% {
    transform: rotate(360deg);
  }
}
