@mixin responsive_list($media) {
  @each $width, $column in $media {
    @media (max-width: $width) {
      $gap: var(--gap);
      width: calc(100% / $column - $gap * (($column - 1) / $column));
    }
  }
}

@mixin render_color($colors) {
  @if $colors {
    @each $key, $value in $colors {
      --#{$key}: #{$value};
    }
  }
}
