.Container {
  padding: 1rem;
  display: flex;
  flex: 1;
  .block {
    position: relative;
    display: flex;
    flex: 1;
    margin: -1rem;
    $gap: 1rem;
    .list {
      $column: var(--column);
      padding: 1rem;
      width: 100%;
      list-style: none;
      display: flex;
      gap: $gap;
      .column {
        width: calc(100% / $column - $gap * (($column - 1) / $column));
        display: flex;
        flex-direction: column;
        gap: $gap;
        .row {
          .card {
            padding: 1rem;
            box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
            border-radius: 0.5rem;
            picture {
              img {
                width: 100%;
                border-radius: 0.5rem;
                object-fit: cover;
                object-position: center;
              }
            }
          }
        }
      }
    }
  }
}

.isScrolling {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}
