.JsonEditor {
  background-color: white !important;
  word-break: break-all;
  white-space: pre-wrap;
  overflow: auto;
  width: 100%;
  position: relative;
  padding: 1rem !important;
}

.btnRefresh {
  position: absolute;
  right: 0;
  top: 0;
  content: '';
  z-index: 2;
  margin: 0.5rem;
}
